{{define "header"}}
<meta charset="UTF-8">
<meta content="text/html; charset=utf-8" http-equiv="Content-Type">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="description" content="">

        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/search.css">
        <link rel="stylesheet" href="static/css/gitbook-plugin-disqus/plugin.css">
        <link rel="stylesheet" href="static/css/prism-base16-ateliersulphurpool.light.css">
        <link rel="stylesheet" href="static/css/emoji-website.css">
        <link rel="stylesheet" href="static/css/plugin.css">
        <link rel="stylesheet" href="static/css/ace.css">
        <link rel="stylesheet" href="static/css/gitbook-plugin-katex/katex.min.css">
        <link rel="stylesheet" href="static/css/gitbook-plugin-splitter/splitter.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-mermaid-gb3/mermaid/mermaid.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-tbfed-pagefooter/footer.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-expandable-chapters-small/expandable-chapters-small.css">
        
    
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-sectionx/sectionx.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-donate/plugin.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-local-video/video-js.min.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-anchor-navigation-ex/style/plugin.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-terminal/plugin.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-alerts/style.css">
        
    
        
        <link rel="stylesheet" href="static/css/gitbook-plugin-versions-select/plugin.css">
        
    
        
        <link rel="stylesheet" href="static/css/website.css">

<link rel="stylesheet" href="static/styles/website.css">
<meta name="HandheldFriendly" content="true"/>
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="static/css/images/apple-touch-icon-precomposed-152.png">
<link rel="shortcut icon" href="static/css/images/favicon.ico" type="image/x-icon">


<link rel="next" href="settings.html" />


<link rel="prev" href="commands.html" />



<link rel="stylesheet" href="static/js/gitbook-plugin-chart/c3/c3.min.css">
<script src="static/js/gitbook-plugin-chart/c3/d3.min.js"></script>
<script src="static/js/gitbook-plugin-chart/c3/c3.min.js"></script>


<script src="static/js/gitbook-plugin-graph/d3.min.js"></script>
<script src="static/js/gitbook-plugin-graph/function-plot.js"></script>    

<link href="http://gitbook.zhangjikai.com/rss" title="GitBook 使用教程" rel="alternate" type="application/rss+xml" />


<link rel="shortcut icon" href='favicon.ico' type="image/x-icon">


<link rel="bookmark" href='favicon.ico' type="image/x-icon">




<style>
@media only screen and (max-width: 640px) {
.book-header .hidden-mobile {
    display: none;
}
}
</style>
<script>
window["gitbook-plugin-github-buttons"] = {"repo":"zhangjikai/gitbook-use","types":["star"],"size":"small"};
</script>

{{end}}