{{define "summary"}}
<div class="book-summary">
        
            
    <div id="book-search-input" role="search">
        <input type="text" placeholder="输入并搜索" />
    </div>
    
                
                    <nav role="navigation">
                    
    
    
    <ul class="summary">
        
        
        
            
            <li>
                <a href="http://www.zhangjikai.com" target="_blank" class="custom-link">Home</a>
            </li>
        
        
    
        
        <li class="divider"></li>
        
    
        
        {{range $i, $v := .summary}} 
            {{if eq $v.Type "heading"}}  
            <li class="header">{{$v.Title}}</li>
            {{else}}
            <li class="chapter" data-level="{{$v.Level}}" data-path="./">
                    <a href="{{$v.Href}}"><b>{{$v.Level}}.</b>{{$v.Title}}</a>
            </li>
            {{end}}

            
            {{if $v.Articles}}  
                <ul class="articles">
                        {{range $index, $v1 := $v.Articles}} 
                            <li class="chapter active" data-level="{{$v1.Level}}" data-path="./">
                                <a href="{{$v1.Href}}"><b>{{$v1.Level}}.</b>{{$v1.Title}}</a>
                            </li>    
                        {{end}}
                </ul>
             {{end}}
        {{end}}
    
        <li class="divider"></li>
    
        <li>
            <a href="https://www.gitbook.com" target="blank" class="gitbook-link">
                本书使用 GitBook 发布
            </a>
        </li>
    </ul>
    
    
                    </nav>
                
            
        </div>
{{end}}